/*Variables*/

:root{
  --pClr1: #71bef3;
  --pClr2: #bcd9f5;
  --pClr3: #eae3e1;
  --pClr4: #dcba9e;
  --sClr1:#c0b3bb;
  --sClr2:#a28c8c;
  --xlfont:5vw;
  --lFont:3vw;
  --mFont:1.5vw;
  --sFont:1vw;
  --xsFont:0.75vw;
  --fClr1:#FFFFFF;
  --fClr2:#000000;
  --grdBck1: linear-gradient(5deg, #eae3e1, #eae3e1, #bcd9f5);
  --grdBck2: linear-gradient(105deg, #eae3e1,#eae3e1, #71bef3);
  --grdBck3: linear-gradient(260deg, #eae3e1,#eae3e1, #71bef3);
  --grdBck4: radial-gradient(#71bef3 25%,#eae3e1 75%);
  --grdBck5: radial-gradient(#dcba9e 25%,#eae3e1 75%);
  --grdBck6: radial-gradient(#a28c8c 25%,#eae3e1 75%);
  --rgrdBck1: radial-gradient(at 50% 100% ,#a06c8b, #d7ae95, #f9e09d, #fbfbdc);
  --fontFam: Arial, Helvetica, sans-serif;
}

/* start of Main display properties */

body{
/*	display:grid;
	grid-template-columns: 20vw 30vw 30vw 20vw;
	grid-template-rows: 20vh 80vh 10vh;
	grid-template-areas:
	"nav art art aside"
	"nav art art aside"
	"nav art art aside";
	font-family: var(--fontFam);	*/
}

div.flexsite{
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	flex-wrap:nowrap;
}

header{
	grid-area:head;
	background:var(--grdBck1);
	font-family:var(--fontFam);
	display:grid;
	grid-template-columns: 20% 40% 40%;
	grid-template-rows: 40% 20% 10% 30%;
	grid-template-areas:
	"logo main main"
	"logo sec sec"
	"logo bcrub bcrub"
	"nbar nbar nbar";
}

nav{
	grid-area:nav;
	background:var(--grdBck3);
	flex: 0 1 20%;
	padding-bottom:5vh;
	font-family:var(--fontFam);
}

article{
	grid-area:art;
	background-color:var(--pClr3);
	flex: 0 1 60%;
	padding-bottom:5vh;
	font-family:var(--fontFam);
}

aside{
	grid-area:aside;
	background:var(--grdBck2);
	width:20vw;
	flex: 0 1 20%;
	padding-bottom:5vh;
	font-family:var(--fontFam);
}

footer{
	grid-area:foot;
	font-family:var(--fontFam);
/*	background:var(--grdBck4);	*/
	background-image: url("Pictures/Footer_Pic.png");
	background-size: 100% 100%;
	background-origin: content-box;
}

/* end of main display properties */

/* start of header */

div.main_logo{
	grid-area:logo;
	background-color:var(--pClr3);
	height:150%;
}

div.main{
	grid-area:main;
	font-size:var(--lFont);
	font-weight:bold;
	padding-left:1vw;
}

div.sec{
	grid-area:sec;
	font-size:var(--mFont);
	font-weight:bold;
	padding-left:1vw;
}

div.bcrub{
	grid-area:bcrub;
	font-size:var(--sFont);
	padding-left:1vw;
}

#bcrub_link:link{
	color:var(--fClr2);
	text-decoration:none;
}

#bcrub_link:visited{
	color:var(--fClr2);
	text-decoration:none;
}

#bcrub_link:hover{
	font-weight:bold;
}

div.nbar{
	grid-area:nbar;
	font-size:var(--mFont);
	font-weight:bold;
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	gap:2vw;
	flex-wrap:wrap;
	background-color:var(--pClr3);
	height:4vh;
}

a.nbar_link{
	border-style:solid;
	border-color:var(--fClr2);
	border-top-width: 0;
	border-left-width:0;
	border-right-width:0;
	border-bottom-width:0;
	border-radius: 0 0 10px 0;
	padding-left: 1vw;
	padding-right: 1vw;
	text-decoration:none;
	font-size:var(--mFont);
}

a.nbar_link:link{
	background:var(--grdBck4);
	color:var(--fClr2);
}

a.nbar_link:visited{
	background:var(--grdBck4);
	color:var(--fClr2);
}

a.nbar_link:hover{
	background:var(--grdBck5);
	color:var(--fClr2);
}

#current_pg:link{
	background:var(--grdBck6);
	color:var(--fClr2);
	cursor:not-allowed;
}

#current_pg:visited{
	background:var(--grdBck6);
	color:var(--fClr2);
	cursor:not-allowed;
}

/* end of header */

/* start of side nav bar */
/*home page does not have side nav bar */

div.snbar{
	grid-area:nbar;
	font-size:var(--mFont);
	font-weight:bold;
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	gap:1vh;
	flex-wrap:wrap;
}

a.snbar_link{
	border-style:solid;
	border-color:var(--fClr2);
	border-top-width: 0;
	border-left-width:1px;
	border-right-width:0;
	border-bottom-width:0;
	margin-top:1vh;
	padding-left: 1vw;
	padding-right: 1vw;
	background-color:var(--pClr3);
	border-radius: 0 10px 10px 0;
	text-decoration:none;
	font-size:var(--mFont);
	height:5vh;
}

a.snbar_link:link{
	background-color:var(--pClr3);
	color:var(--fClr2);
}

a.snbar_link:visited{
	background-color:var(--pClr3);
	color:var(--fClr2);
}

a.snbar_link:hover{
	background-color:var(--pClr1);
	color:var(--fClr2);
}

#selected:link{
	background:var(--grdBck3);
	color:var(--fClr2);
	cursor:not-allowed;
	text-decoration:underline;
}

#selected:visited{
	background:var(--grdBck3);
	color:var(--fClr2);
	cursor:not-allowed;
	text-decoration:underline;
}
	
/* End of side nav bar */
	
/* start of Aside */

div.side{
	display:flex;	
	flex-direction:column;
	justify-content:flex-start;
	gap:1vh;
	flex-wrap:wrap;
/*	grid-template-columns: 100vw;
	grid-template-rows: 10vh 5vh 10vh 5vh 10vh 5vh 10vh 5vh;	*/
}

a.rsnav_link{
	margin-top:1vh;
	padding-right:5vw;
	border-style:solid;
	border-color:var(--fClr2);
	border-top-width: 0;
	border-left-width:0;
	border-right-width:0;
	border-bottom-width:0;
	border-radius: 10px 0 0 10px;
	text-decoration:none;
	font-size:var(--mFont);
	font-weight:bold;
	width:14vw;
	text-align: right;
}
a.rsnav_link:link{
	background-color:var(--pClr3);
	color:var(--fClr2);
}

a.rsnav_link:visited{
	background-color:var(--pClr3);
	color:var(--fClr2);
}

a.rsnav_link:hover{
	background-color:var(--pClr1);
	color:var(--fClr2);
}

/* end of aside */

/* start of footer */

div.footer{
	display:grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 50% 50%;
	grid-template-areas:
	"fl1 fr1"
	"fl2 fr2";
	font-size:var(--mFont);
	font-weight:bold;
	height:15vh;
}

div.top_foot_l{
	grid-area:fl1;
	text-align: left;
	flex-direction:column;
	align-items: flex-start;
	justify-content:flex-start;
}

#insta{
	position:relative;
	top:1vh;
}

a.insta:link{
	text-decoration:none;
	color:var(--fClr2);
	background-color:var(--pClr2);
	padding-left:2vw;
	padding-bottom:1vh;
	padding-right:3vw;
	border-style:solid;
	border-width:0;
	border-radius:0 0 30px 0;
}

a.insta:visited{
	text-decoration:none;
	color:var(--fClr2);
	background-color:var(--pClr2);
	padding-left:2vw;
	padding-bottom:1vh;
	padding-right:3vw;
	border-style:solid;
	border-width:0;
	border-radius:0 0 30px 0;
}

a.insta:hover{
	background-color:var(--pClr1);
	padding-right:4vw;
	border-radius:0 0 10px 0;
}

div.btm_foot_1{
	grid-area:fl2;
	display: flex;
	flex-direction:column-reverse;
	align-items: flex-start;
	justify-content:baseline;
	text-align: left;
}

div.btm_foot_1 a:link{
	text-decoration:none;
	color:var(--fClr2);
	background-color:var(--pClr4);
	padding-left:2vw;
	padding-top:1vh;
	padding-right:3vw;
	border-style:solid;
	border-width:0;
	border-radius:0 30px 0 0;
}

div.btm_foot_1 a:visited{
	text-align: left;
	text-decoration:none;
	color:var(--fClr2);
	background-color:var(--pClr4);
	padding-left:2vw;
	padding-top:1vh;
	padding-right:3vw;
	border-style:solid;
	border-width:0;
	border-radius:0 30px 0 0;
}

div.btm_foot_1 a:hover{
	background-color:var(--pClr2);
	border-radius:0 10px 0 0;
	padding-right:4vw;
}


div.cnt_foot{
	grid-area:fm;
}

div.top_foot_2{
	grid-area:fr1;
	text-align: right;
}

div.top_foot_2 a:link{
	text-align: right;
	text-decoration:none;
	color:var(--fClr2);
	background-color:var(--pClr2);
	padding-left:3vw;
	padding-bottom:1vh;
	padding-right:2vw;
	border-style:solid;
	border-width:0;
	border-radius:0 0 0 30px;
}

div.top_foot_2 a:visited{
	text-align: right;
	text-decoration:none;
	color:var(--fClr2);
	background-color:var(--pClr2);
	padding-left:3vw;
	padding-bottom:1vh;
	padding-right:2vw;
	border-style:solid;
	border-width:0;
	border-radius:0 0 0 30px;
}

div.top_foot_2 a:hover{
	background-color:var(--pClr1);
	border-radius:0 0 0 10px;
	padding-left:4vw;
}

div.btm_foot_2{
	grid-area:fr2;
	text-align: right;
	display: flex;
	align-items: flex-end;
	justify-content:flex-end;
}

div.btm_foot_2 span{
	text-align: right;
	text-decoration:none;
	color:var(--fClr2);
	background-color:var(--pClr4);
	padding-left:3vw;
	padding-top:1vh;
	padding-right:2vw;
	border-style:solid;
	border-width:0;
	border-radius:30px 0 0 0;
}

div.btm_foot_2 span:hover{
	background-color:var(--pClr2);
	border-radius:10px 0 0 0;
	padding-left:4vw;
}

/* end of footer */

/* start of article */

div.heading{
	font-size: var(--lFont);
	font-weight:bold;
	border-bottom-style:solid;
	border-bottom-color:var(--sClr2);
	border-bottom-width:5px;
	margin-bottom:1vh;
}

div.main_article{
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	gap:2vw;
	flex-wrap:wrap;
	margin-bottom:1vh;
}

div.main_article_2{
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	flex-wrap:wrap;
	font-size: var(--mFont);
	margin-bottom:2vh;
}

div.poi{
	display:flex;
	flex-direction:flex-start;
	justify-content:flex-start;
	gap:2vw;
	flex-wrap:wrap;
	align-items: flex-start;
	width:40%;
}

div.food{
	font-size:var(--sFont);
	flex: 1 0 40%;

}

div.food a{
	font-size:var(--mFont);
	text-decoration:none;
	font-weight:bold;
	color:var(--fClr2);
	height:30%;
}

div.food a:hover{
	font-size:var(--mFont);
	text-decoration:none;
	font-weight:bold;
	color:var(--pClr4);
}

div.food img{
	width:90%;
	height:60%;
	box-shadow: 2px 2px 2px 2px #c0b3bb;
}

.price{
	font-size:var(--mFont);
	font-style:italic;
	color: rgba(0,0,0, 0.25);
}

.cost{
	color:var(--pClr1);
	display:inline;
}

.info{
	list-style-type:none;
	margin:0;
	padding:0;
}

div.lodging{
	font-size:var(--sFont);
	flex: 1 0 40%;
}

div.lodging img{
	width:100%;
	height:70%;
	box-shadow: 2px 2px 2px 2px #c0b3bb;
}

div.lodging a{
	font-size:var(--mFont);
	text-decoration:none;
	font-weight:bold;
	color:var(--fClr2);
	height:30%;
}

div.lodging a:hover{
	font-size:var(--mFont);
	text-decoration:none;
	font-weight:bold;
	color:var(--pClr1);
	box-shadow: -5px 5px 2px 3px #dcba9e;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

div.small{
	font-size:var(--sFont);
	font-weight:normal;
}

div.lodging a:hover div.small{
	font-size:var(--sFont);
	color:var(--fClr2);
	text-shadow: none;
	box-shadow: none;
}

div.lodging a:hover strong.price{
	color:rgba(0,0,0,0.25);
	text-shadow: none;
	box-shadow: none;
}

div.small + div.small{
	margin-bottom:1vh;
}

div.xsmall{
	font-size:var(--xsFont);
	font-weight:normal;
}

div.lodging a:hover div.xsmall{
	font-size:var(--xsFont);
	color:var(--fClr2);
	text-shadow: none;
	box-shadow: none;
}

div.hours{
	font-size:var(--sFont);
	font-weight:normal;
}

div.lodging a:hover div.hours{
	font-size:var(--sFont);
	color:var(--fClr2);
	text-shadow: none;
	box-shadow: none;
}

div#last{
	margin-bottom:1vh;
}

div.foodtype{
	font-size:var(--mFont);
	font-weight:bold;
}

div.lodging a:hover div.foodtype{
	font-size:var(--mFont);
	color:var(--fClr2);
	text-shadow: none;
	box-shadow: none;
}